.colorletra{
    color: white;
}
.colorfondonegro{
    background-color: black;
    color: white;
}

.colorbarra{
    background-color: #0dc9f0;
}
.colorfondocard{
    background-color:deepskyblue
}

@media(max-width: 768px)
{
    .anchotarjeta{
        width: 18rem;
    }
}
footer{
    background-color:deepskyblue;
    height: 5rem;
}
footer div p{
    width: 20rem;
    font-size:2rem;
}
footer div i{
    width: 3rem;
    font-size:2rem;
}

